html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    min-width: 1280px;
    min-height: 720px;
}

/* NavBar */

.navbar {
    top:0;
    left:0;
    width: 100%;
}

.pesquisa {
    height: 100%;
    margin-right: 2pt;
}

.pesquisa input{
    width: 300px;
    float: left;
}
.pesquisa button{
    float: right;
}

.userinfo {
    margin-left: 8px;
    padding-top: 6px;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 6px;
    background-color: rgba(51, 165, 226, 0);
    border-top: 1.4px solid #ffffff;
    border-bottom: 1.4px solid #ffffff;
    border-left: 1.4px solid #ffffff;
    border-radius:5px 5px 5px 5px;
    height: 38px;
}

.userinfo p{
    font-size: 12pt;
    color: #ffffff;
    font-weight: bold;
}

#btn_sair{
    margin-left: -5px;
    margin-right: 0px;
    padding: 6px;
    height: 38px;
    background-color: #ffffff;
    color: #000000;
}

/* Corpo */

.geral {
    min-height: 93.3%;
}

.main {
    min-width: 1280px;
    min-height: 720px;
    height: auto;
    width: 100%;
    position: absolute;
    right: 0;
    padding-left: 18%;
    background-color: rgb(235, 242, 247);
}

.functions {
    background-color: rgba(218, 218, 218, 0.6);
    float: left;
    width: 20%;
    height: 100%;
    margin: 10px;
    padding: 10px;
    border-radius:5px 5px 5px 5px;
    min-height: 880px;
}

.feed {
    background-color: rgba(236, 236, 236, 0.6);
    top: 0;
    float: left;
    width: 500px;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius:5px 5px 5px 5px;
    min-height: 880px;
}

.infos {
    background-color: rgba(218, 218, 218, 0.6);
    top: 0;
    float: left;
    width: 20%;
    height: 100%;
    margin: 10px;
    padding: 10px;
    border-radius:5px 5px 5px 5px;
    min-height: 880px;
}

/* Footer */

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
}

.page-footer {
    border-top: 10px solid #33A5E2;
    background-color:	#353A40;
}

.footer-copyright{
    color: #ffffff;
}

footer-copyright a{
    color: #ffffff;
}

.page-footer a{
    color: #ffffff;
}

/* Schedule feed */ 

.feed h3 {
    text-align: center;
    color: #000000;
    border-bottom: 4px solid #ffffffa8;
    padding: 4px;
    height: auto;
}

.functions h3 {
    text-align: center;
    color: #000000;
    border-bottom: 4px solid #ffffffa8;
    padding: 4px;
}

.infos h3 {
    text-align: center;
    color: #000000;
    border-bottom: 4px solid #ffffffa8;
    padding: 4px;
}

.period_list {
    padding: 0;
}

button#new_period {
    width: 100%;
}

.period li{
    cursor: pointer;
    list-style-type: none;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius:5px 5px 5px 5px;
}

.period a{
    color: #000000;
    text-decoration: none;
    margin-left: 8px;
}


/* All modals */
.control-label {
    margin-top: 8px;
}

.modal-dialog {
    top: 30%;
}

.trash-item {
    float: right;
    margin-right: 8px;
    width: auto;
}

.edit-item {
    float: right;
    margin-right: 8px;
    width: auto;
}

/* new period modal */


/* delete period modal */

#delete-modal {
    background-color: rgb(255, 94, 94);
    color: #ffffff;
    border-color: rgb(255, 94, 94);
}

/* Subjects feed */


.subject_list {
    padding: 0;
}

button#new_subject {
    width: 100%;
}

.subject {
    height: 100%;
    width: 100%;
}

.subject li{
    cursor: pointer;
    list-style-type: none;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius:5px 5px 5px 5px;
}

.subject a{
    color: #000000;
    text-decoration: none;
    margin-left: 8px;
}

.subject-name {
}