.main {
    min-width: 1280px;
    min-height: 720px;
    height: auto;
    width: 100%;
    position: absolute;
    right: 0;
    padding-left: 3.5%;
    background-color: #ffffff;
    
}

.feed {
    background-color: rgba(218, 218, 218, 0.6);
    top: 0;
    float: left;
    width: 1000px;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius:5px 5px 5px 5px;
    min-height: 880px;
}

#selectPeriodForm{
    margin: 0;
    float: left;
}

#selectPeriodForm select{
    background-color: #ececec;
    color: #000000;
}

#btn-see{
    background-color: #ececec;
    float: left;
    margin-left: -4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-color: #ececec;
    border-left-color: #000000;
    color: #000000;
}

th#selectPeriod {
    width: 184px;
}

div#horaryTable{
    background-color: #ffffff;
}

.modal-dialog {
    top: 20%;
}