html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: fixed;
}

#particles{
    position: relative;
    height: 100%;
    margin-bottom: 100px;
}

.logo{
    margin-top: 12%;
    top: 0;
    height: auto;
    width: auto;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.555);
    border: 0.5px solid #33A5E2;
    border-radius:0px 5px 5px 0px;
    padding-left: 27%;
    padding-right: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.loginform{
    height: 100%;
    width: 100%;
    top: 0;
    position: absolute;
}

.loginform h3{
    margin-right: 14.5%;
    margin-top: 13%;
    position: absolute;
    top: 0;
    right: 0;
    color: #ffffff;
}

.control-label {
    color: #ffffff;
}

.loginform button{
    float: right;
    width: 100%
}

form{
    display: block;
    float: right;
    top: 0;
    right: 0;
    margin-right: 4%;
    background-color:  rgba(0, 0, 0, 0.534);
    height: 100%;
    padding-top: 16%;
    padding-left: 50px;
    padding-right: 50px;
    width: 25%;
    max-width: 25%;
}

.page-footer {
    border-top: 10px solid #33A5E2;
    bottom: 0;
    left: 0;
    width: 100%;
    position: fixed;
    background-color:	#353A40;
}

.page-footer div{
    color: #ffffff;
}

.page-footer a{
    color: #ffffff;
}