{% load static %}
<!DOCTYPE html>
<html lang = "pt-br">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/academic_style.css' %}">
    {% block styles %}{% endblock%}
    <title>{% block title %}{% endblock%}</title>
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
</head>
<body>
    <div class="geral">
        <div class="header">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="{% url 'home' %}">
                        <img class="navbar_logo" src="{% static 'img/logo_transparent.png' %}" width="60" height="46" alt="">
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div id = "menu" class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">Feed<span class="sr-only">(current)</span></a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'academic' %}">Acadêmico</a>
                        </li>

                        <li class="nav-item">
                                <a class="nav-link" href="{% url 'horary' %}">Horários</a>
                        </li>

                        <li class="nav-item">
                                <a class="nav-link" href="{% url 'academic' %}">Agenda</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Ferramentas
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Simular CRE</a>
                            <a class="dropdown-item" href="#">Nota Final</a>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="pesquisa">
                        <input class="form-control mr-sm-2" type="search" placeholder="Estudantes, Disciplinas, Provas..." aria-label="Pesquisar">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
                </div>
                
                <div class="userinfo">
                        <p>Olá, {{user.first_name}} {{user.last_name}}!</p>
                </div>
                <a href="{% url 'logout' %}" class="btn btn-link" id = "btn_sair">Sair</a>
            </nav>
        </div>
        
        <div class="main">
            <div class="functions">
                {% block functions %}
                {% endblock %}
            </div>
            <div class="feed">
                {% block feed %}
                {% endblock %}
            </div>
            <div class="infos">
                {% block infos %}
                {% endblock %}
            </div>
        </div>
    </div> 
    
    <!-- footer
    <div class="footer">
        <footer class="page-footer font-small white">
            <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="">myaurora.tk</a>
            </div>
        </footer>
    </div>
    -->
    
<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous">
</script>

<script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous">
</script>

<script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js"
    integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP"
    crossorigin="anonymous">
</script>

{% block scripts %}

{% endblock%}

</body>
</html>